input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=password]:focus {
    background-color: #fff;
    border-bottom: 2px solid #ff6000;
  }
  
  input[type=password]:placeholder {
    color: #cccccc;
  }

  input[type=email] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=email]:focus {
    background-color: #fff;
    border-bottom: 2px solid #ff6000;
  }
  
  input[type=email]:placeholder {
    color: #cccccc;
  }
  

  .active-pink-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
    }
    .active-pink input[type=text] {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
    }
    .active-purple-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #ce93d8;
    box-shadow: 0 1px 0 0 #ce93d8;
    }
    .active-purple input[type=text] {
    border-bottom: 1px solid #ce93d8;
    box-shadow: 0 1px 0 0 #ce93d8;
    }
    .active-cyan-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
    }
    .active-cyan input[type=text] {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
    }
    .active-cyan .fa, .active-cyan-2 .fa {
    color: #4dd0e1;
    }
    .active-purple .fa, .active-purple-2 .fa {
    color: #ce93d8;
    }
    .active-pink .fa, .active-pink-2 .fa {
    color: #f48fb1;
    }

    .active-orange-2 input[type=text]:focus:not([readonly]) {
      border-bottom: 1px solid #ff6000;
      box-shadow: 0 1px 0 0 #ff6000;
      }
      .active-orange input[type=text] {
      border-bottom: 1px solid #ff6000;
      box-shadow: 0 1px 0 0 #ff6000;
      }    

      .active-orange-2 input[type=email]:focus:not([readonly]) {
        border-bottom: 1px solid #ff6000;
        box-shadow: 0 1px 0 0 #ff6000;
        }
        .active-orange input[type=email] {
        border-bottom: 1px solid #ff6000;
        box-shadow: 0 1px 0 0 #ff6000;
        }  

        .active-orange-2 input[type=password]:focus:not([readonly]) {
          border-bottom: 1px solid #ff6000;
          box-shadow: 0 1px 0 0 #ff6000;
          }
          .active-orange input[type=password] {
          border-bottom: 1px solid #ff6000;
          box-shadow: 0 1px 0 0 #ff6000;
          }  